배치파일.txt
MCD/__pycache__/DP.cpython-39.pyc
MCD/__pycache__/DP.cpython-310.pyc
MCD/__pycache__/test.cpython-39.pyc
MCD/__pycache__/Webcrawl.cpython-39.pyc
MCD/.spyproject/config/codestyle.ini
MCD/.spyproject/config/encoding.ini
MCD/.spyproject/config/vcs.ini
MCD/.spyproject/config/workspace.ini
MCD/.spyproject/config/backups/codestyle.ini.bak
MCD/.spyproject/config/backups/encoding.ini.bak
MCD/.spyproject/config/backups/vcs.ini.bak
MCD/.spyproject/config/backups/workspace.ini.bak
MCD/.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
MCD/.spyproject/config/defaults/defaults-encoding-0.2.0.ini
MCD/.spyproject/config/defaults/defaults-vcs-0.2.0.ini
MCD/.spyproject/config/defaults/defaults-workspace-0.2.0.ini
